.cool-box {
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	margin: 0.2rem;
	font-size: 0.7rem;
	border-radius: 2rem;
	text-align: center;
	user-select: none;
}

.cool-box:hover {
	transition: ease 0.5s;
	transform: scale(1.1);
}

 .bio-box {
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
	font-size: 1.0rem;
	border-radius: 2.3rem;
 }

.graphic {
	background-color: var(--fawn);
}

.c {
	background-color: var(--purple);
}

.cpp {
	background-color: var(--purple-light);
}

.school {
	background-color: var(--blue-3);
	color: var(--blue-1);
}

.docker {
	color: var(--blue-3);
	background-color: var(--blue-2);
}

.math {
	background-color: #9afe2e;
}

.python {
	background-color: var(--lime);
}

.js {
	background: var(--red-p)
}