@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
	--blue-1: hsl(200, 100%, 95%);
	--blue-2: hsl(198, 62%, 83%);
	--blue-3: #103545;
	--purple: hsl(251, 65%, 80%);
	--purple-light: hsl(251, 65%, 90%);
	--fawn: #FFB86F;
	--lime: hsl(64, 100%, 64%);
	font-size: 16px;
	font-family: "Roboto Mono", "Courier-New", "sans-serif";
}

* {
	box-sizing: border-box;
	list-style: none;
	line-height: 1.15;
}

body {
	text-align: center;
	color: var(--blue-3);
	background: white;
	margin: 0;
	height: 5000px;
}

#div__mousemove {
	transition: 0.2s ease-out;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50%;
	background-color: var(--blue-3);
	border-style: solid;
}

#div__root {
	display: flex;
	flex-direction: column;
	margin: 20px;
	border: 1px solid var(--blue-2);
	background: var(--blue-1);

}

#div__root-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 22px;
	height: 7em;
	background: var(--blue-2);
	border: 1px solid var(--blue-2);
}

.blinking-dot {
	animation: blink 1s infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

#div__root-body {
	height: 100%;
	padding: 0px 22px 22px 22px;
	text-align: left;
}

