@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
	--blue-1: hsl(200, 100%, 95%);
	--blue-2: hsl(198, 62%, 83%);
	--blue-3: #103545;
	--purple: hsl(251, 65%, 80%);
	--purple-light: hsl(251, 65%, 90%);
	--fawn: #FFB86F;
	--lime: hsl(64, 100%, 64%);
	font-size: 16px;
	font-family: "Roboto Mono", "Courier-New", "sans-serif";
	color:var(--blue-3);
}

body {
	background: white;
}

#div__mousemove {
	transition: 0.2s ease-out;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50%;
	background-color: var(--blue-3);
	border-style: solid;
}

#portfolio {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--blue-2);
	background: var(--blue-1);
	margin: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 22px;
	background: var(--blue-2);
	border: 1px solid var(--blue-2);
}

header ul {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

header ul li {
	list-style-type: none;
	font-size: 1.2rem;
}

.blinking-dot {
	background-color: var(--blue-3);
	animation: blink 1.1s infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

main {
	padding: 0px 22px 22px 22px;
	text-align: left;
}

#p__bio {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	text-align: center;
	margin: 20px;
}