@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	box-sizing: border-box;
	list-style: none;
}

body {
	--blue-1: #badfef;
	--blue-2: #2fa0d0;
	--blue-3: #103545;
	text-align: center;
	margin: 0;
	font-family: "Roboto-Mono", "Courier-New", "sans-serif";
	font-size: 15px;
	background: white;
	
	height: 5000px;
}

#div__mousemove {
	transition: 0.2s ease-out;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 50%;
	border-color: pink;
	border-style: solid;
}

#div__root {
	display: flex;
	flex-direction: column;
	margin: 20px;
	border: 1px solid var(--blue-2);
	background: var(--blue-1);
}